div {
  width: 500px;
  height: 500px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color:#FFFFFF;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Moves it back by half its own width AND height */
}
button {
  /* 1. Spacing & Size */
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer; /* Makes the mouse turn into a hand */

  /* 2. Colors */
  background-color: #C3B091; /* A nice "Action Blue" */
  color: white;

  /* 4. Animation */
  transition: background-color 0.3s ease;
}

body{
  background-color:#C3B091;}

 

/* 5. The Hover State */
button:hover {
  background-color: #0056b3; /* Darkens slightly when you hover */
}

